doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/style.css')

  body
    h1 Pizza Builder

    p Connect to your bluetooth-pizza-oven peripheral then choose your crust, toppings, and oven temperature.

    button#start(onclick='onStartButtonClick()') Connect to "oven"

    h3 Crust
    div#crust
      select#crust-type
        each type in Object.keys(vals.PizzaCrust)
          option(value=vals.PizzaCrust[type]) #{type}

    h3 Toppings
    div#toppings
      each topping in Object.keys(vals.PizzaToppings)
        - var val = vals.PizzaToppings[topping];
        input(id='topping-#{topping}' name='toppings', type='checkbox', value=val)
        label(for='topping-#{topping}') #{topping}

    h3 Oven Temperature
    div#oven
      input#oven-temperature(type='number', min=0, max=1200, value=400)

    h3 Bake
    button#bake(onclick='onBakeButtonClick()') Go!

    h3 Response
    pre#output

    h3 Credits
    p
      | Utilizes the fantastic 
      a(href='https://github.com/sandeepmistry/bleno') bleno
      |  module written by 
      a(href='https://github.com/sandeepmistry') Sandeep Mistry
      | .

    p
      | Check out more web bluetooth examples 
      a(href='https://googlechrome.github.io/samples/web-bluetooth/') here
      | .



    

    script().
      var name = '!{name}';
      var indexes = [0, 8, 12, 16, 20, 32];
      var convert = function(uuidStr) {
        if(uuidStr.length < 32) throw new Error('bad uuid str');
        var arr = [];
        indexes.concat(uuidStr.length).reduce(function(a, b) {
          let sub = uuidStr.substring(a, b)
          if(sub != '') arr.push(sub);
          return b;
        });
        return arr.join('-');
      }
      var serviceUuids = JSON.parse('!{JSON.stringify(services)}').map(convert);
      var serviceNames = JSON.parse('!{JSON.stringify(serviceNames)}');
      var characteristicUuids = JSON.parse('!{JSON.stringify(characteristics)}').map(convert);
      var characteristicNames = JSON.parse('!{JSON.stringify(characteristicNames)}');
      var vals = JSON.parse('!{JSON.stringify(vals)}');

    script(src='/index.js')
